<header>
    <a href="/">
        <h2>
       {{ site.title | default: site.github.repository_name }}
        </h2>
    </a>
    <p>
        <a href="/cv" target="_blank">
            <img alt="felixvo cv" src="/assets/images/icons/cv.png" width="28px" height="28px"></img>
        </a>
        <a href="https://github.com/felixvo" target="_blank">
            <img alt="felixvo Github" src="/assets/images/icons/github-square-brands.svg" width="30px" height="30px"></img>
        </a>
        <a href="https://dev.to/felixvo" target="_blank">
            <img alt="felixvo dev profile" src="/assets/images/icons/dev-brands.svg" width="30px" height="30px"></img>
        </a>
        <a href="https://www.linkedin.com/in/felix-vo/" target="_blank">
            <img alt="felixvo linkedin" src="/assets/images/icons/linkedin-brands.svg" width="30px" height="30px"></img>
        </a> 
        <!-- <span> {{ site.description | default: site.github.project_tagline }}</span> -->
    </p>
</header>
<hr>
