---
---

@import "{{ site.theme }}";
/* system typefaces */
$serif                        : Georgia, Times, serif !default;
$sans-serif                   : -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                    : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow            : $sans-serif !default;
$helvetica                    : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                      : Georgia, serif !default;
$times                        : Times, serif !default;
$bodoni                       : "Bodoni MT", serif !default;
$calisto                      : "Calisto MT", serif !default;
$garamond                     : Garamond, serif !default;

$global-font-family           : $sans-serif !default;
$header-font-family           : $sans-serif !default;
$caption-font-family          : $serif !default;

/* type scale */
$type-size-1                  : 2.441em !default;  // ~39.056px
$type-size-2                  : 1.953em !default;  // ~31.248px
$type-size-3                  : 1.563em !default;  // ~25.008px
$type-size-4                  : 1.25em !default;   // ~20px
$type-size-5                  : 1em !default;      // ~16px
$type-size-6                  : 0.75em !default;   // ~12px
$type-size-7                  : 0.6875em !default; // ~11px
$type-size-8                  : 0.625em !default;  // ~10px

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-size: $type-size-5;
    padding: 0px;
    margin: 0px;
}

section{
    width:auto;
    max-width: 900px;
    float:none;
}
header{
    text-align: center;
    width: auto;
    float: none;
    position: relative;
    padding: 30px 10px 0px 0px;
}
.post-category{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.post-category li{
    display: inline;
    padding: .1em .7em;
    background: darkslategrey;
    border-radius: .5em;
    color: white;
}
.post-info{
    border-bottom:solid;
    border-width: 1px;
    transition: border-width 0.1s linear;
}
.post-info:hover {
    border-width: .5px;
}
.wrapper-home{
    width:70%;
    padding: 25px;
    box-shadow: 1px 1px 3px;
    margin: 0px auto;
}
.wrapper{
    max-width: 1024px;
    width: 65%;
    padding: 25px;
    box-shadow: 1px 1px 3px;
    margin: 0px 0px 0px 25%;
}
.comment-box {
    padding: 20px;
    background-color:#fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}
nav{
    margin-left: 3%;
    position: fixed;
    width:20%;
    padding: 20px;
}
h1 a{
    color: darkslategray;
}
@media print, screen and (max-width: 960px){
nav{
    margin-left: 3%;
    width:100%;
    position: relative;
    max-width: auto;
    padding: 20px;
}

.wrapper-home{
    width:100%;
    box-shadow: 0px 0px 0px;
    margin: 0px;
    padding: 0px;
}
.wrapper{
    max-width: 1024px;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 0px;
    margin: 0px;
}
}
