/**
 * index.scss
 * - Add any styles you want here!
 */
/*

*/

body {
  background-color: #f3f3f5;
  font-family: 'Anonymous Pro','Open Sans', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

a{
  color: palevioletred;
}
.form-input{
  line-height: 1.5;
  margin:5px 0px;
}
.form-input[type='text']{
  padding: 5px;
  width:100%;
  border: 1px solid lightgray;
  border-radius: .5rem;
}
.form-input[type='tel']{
  padding: 5px;
  width:100%;
  border: 1px solid lightgray;
  border-radius: .5rem;
}
header{
  background:url('https://cdn.lyft.com/brochure/drive-growth.71db397f.jpg');
  background-position:center;
  background-repeat: repeat;
  background-size: auto 100%;
}
.logo{
 color: white;
 text-decoration: none;
}
header nav{
  background:linear-gradient(to top,transparent, grey);
  padding:20px;
  position: fixed;
  width:100%;
  top:0;
}
.intro{
  padding:100px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:center;
}
.intro-text{
  font-size: 3em;
  color: white;
  margin-bottom:20px;
}
.register-form{
  padding:20px;
  border-radius: .5rem;
  background-color: white;
  width: 330px;
}
.submit-btn{
  border-radius: 2rem;
  background: #ff6983;
  border: 0;
  width: 100%;
  color: white;
  font-size: 2em;
  margin:10px 0px;
}
.intro-detail{
  text-align: center;
  margin-top:70px;
  width:100%;
}
.intro-detail p{
  margin:10px 0px;
}
.intro-detail p{
  max-width: 700px;
  margin:0 auto;
  margin-top:10px;
}
.why-lyft{
  margin:70px 0px;
  text-align: center;
}
.why-lyft-detail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.reason-block{
  max-width:300px;
  margin-left:20px;
}
.reason-block img{
  max-width:150px;
}
.how-lyft-work{
  background-color: #d8dce6;
  position: relative;
}
.how-lyft-work-info{
  position: relative;
  top: -40px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.how-lyft-work-info img{
  width: 140px;
  margin-right: 20px;
}
.benefit {
 width:100%;
 margin:30px 0px;
}
.benefit-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 auto;
  max-width: 800px;
}
.benefit-container img{
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}
.benefit-container div{
  width:500px;
}
.faq-container{
  width: 100%;
}
.faq-table{
  margin: 0 auto;
  max-width:800px;
  padding: 30px;
  border: solid black;
  text-align: center;
}
.faq-table ul{
  text-align: left;
  list-style-type: none;
}
.faq-table .question-txt{
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 1rem;
}
.faq-table .answer-txt{
  margin-left: 20px;
  margin-bottom: 1rem;
}

